openssl_conf = openssl_def
[openssl_def]
engines = engine_section
[engine_section]
dasync = dasync_section
rkey = rkey_section


[dasync_section]
engine_id = dasync
dynamic_path = /root/async/openssl-1.1.0i/engines/dasync.so
default_algorithms = ALL

[rkey_section]
engine_id = rkey 
dynamic_path = /root/async/net-utils/rkey/rkey.so 
init = 1



